description = "Home layout"
hideContentField = true
[staticPage]
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>{{ this.page.title }}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ ['assets/css/materialize.min.css', 'assets/css/styles.css']|theme }}" rel="stylesheet" media="screen,projection" />
    {% styles %}
</head>
<body>

    {% partial 'navigation' %}
    {% partial 'header'     %}
    {% if banner %}
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center {{ headline_color }}-text light">{{ headline }}</h1>
                {% if banner_content %}
                <div class="row center">
                    {{ banner_content | raw }}
                </div>
                {% endif %}
                <br><br>
            </div>
        </div>
        <div class="parallax"><img src="{{ banner | mediathumb_resize('height', 700) }}" alt=""></div>
    </div>
    {% endif %}

    <div class="container">
        <div class="section">
            <div class="row">

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center red-text text-darken-4"><i class="material-icons">{{ icon_left }}</i></h2>
                        <h5 class="center">{{ icon_left_headline }}</h5>
                        <p class="light">{{ icon_left_subtext }}</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center red-text text-darken-4"><i class="material-icons">{{ icon_middle }}</i></h2>
                        <h5 class="center">{{ icon_middle_headline }}</h5>
                        <p class="light">{{ icon_middle_subtext }}</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center red-text text-darken-4"><i class="material-icons">{{ icon_right }}</i></h2>
                        <h5 class="center">{{ icon_right_headline }}</h5>
                        <p class="light">{{ icon_right_subtext }}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    {% for section in sections %}
    {% if section.banner %}
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">{{ section.title }}</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="{{ section.banner | mediathumb_resize('height', 700) }}"></div>
    </div>
    {% else %}
    <div class="container">
        <div class="row center">
            <h5 class="header col s12 light">{{ section.title }}</h5>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    {{ section.content | raw }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% partial 'footer' %}

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ [
      'assets/js/materialize.min.js',
      'assets/js/init.js',
      '@framework',
      '@framework.extras']|theme }}"></script>
    {% scripts %}

</body>
</html>

{variable name="banner" label="Banner" tab="Main Banner" type="mediafinder" mode="image" required="required" span="left"}{/variable}
{variable name="headline" label="Headline" tab="Main Banner" type="text" span="left"}{/variable}
{variable name="headline_color" label="Headline Color" tab="Main Banner" type="dropdown" options="black:Black | white:White" span="left"}{/variable}
{variable name="banner_content" label="Banner Content" tab="Main Banner" size="small" type="richeditor"}{/variable}

{variable name="icon_left" label="Icon (Left)" tab="Icon Blocks" type="text" comment="Icon codes: http://materializecss.com/icons.html" required="required"}{/variable}
{variable name="icon_left_headline" label="Headline (Left)" tab="Icon Blocks" type="text" required="required"}{/variable}
{variable name="icon_left_subtext" label="Subtext (Left)" tab="Icon Blocks" type="text" required="required"}{/variable}

{variable name="icon_middle" label="Icon (Middle)" tab="Icon Blocks" type="text" required="required"}{/variable}
{variable name="icon_middle_headline" label="Headline (Middle)" tab="Icon Blocks" type="text" required="required"}{/variable}
{variable name="icon_middle_subtext" label="Subtext (Middle)" tab="Icon Blocks" type="text" required="required"}{/variable}

{variable name="icon_right" label="Icon (Right)" tab="Icon Blocks" type="text" required="required"}{/variable}
{variable name="icon_right_headline" label="Headline (Right)" tab="Icon Blocks" type="text" required="required"}{/variable}
{variable name="icon_right_subtext" label="Subtext (Right)" tab="Icon Blocks" type="text" required="required"}{/variable}


{repeater name="sections" label="" tab="Sections" prompt="Add another content section"}
  {variable name="title" label="Title" type="text"}{/variable}
  {variable name="banner" label="Banner" type="mediafinder" mode="image"}{/variable}
  {variable name="content" label="Content" size="small" type="richeditor"}{/variable}
{/repeater}
